:root{
  --base-gap: 1rem;
  --color-surface: #171717;
  --color-text: #fafafa;
  --color-card:#202020 ;
  --color-card-block: #242424;
  --color-card-block-hover: #303030;
  --color-highlight: #2EE935;
  --color-highlight-hover: #0daa12;
  --shadow-section: 0 0 4px #000000;
  --shadow-action: 0 0 2px #000000;
  --transitions-color: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-surface);
  color:var(--color-text);
  font-size: 0.875rem;
}

.panel {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--base-gap);
}

.panel__header{
  width: 100%;
}

.panel__header h1{
  font-size: 1.5rem;
  text-align: center;
}

.panel__content{ 
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--base-gap);
  margin-top: var(--base-gap);
}

.section {
  padding: var(--base-gap);
  background-color: var(--color-card);
  height: 100%;
  border-radius: 0.325rem;
  box-shadow: var(--shadow-section);
}

.section h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: var(--base-gap);
}

#actionsList {
  list-style-type: none;
}

#actionsList li + li {
  margin-top: var(--base-gap);
}

.action {
  background: var(--color-card-block);
  box-shadow: var(--shadow-action);
  padding: 0.5rem var(--base-gap);
  border-radius: 9999px;
  transition: var(--transitions-color);
}

.action:hover{
  background-color: var(--color-card-block-hover);
}

.action[open] {
  border-radius: 0.325rem;
}

.action summary{
  cursor: pointer;
  color: #2EE935;
}

.action[open] summary {
  padding: 0 0 var(--base-gap) 0;
}

.action strong {
  color: #bcbcbc;
}

.action pre {
  max-height: 300px;
  overflow: auto;
  margin-top: var(--base-gap);
  background-color: var(--color-card-block);
}
.action:hover pre {
  background-color: var(--color-card-block-hover);
}

.action pre::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--color-card);
}
.action pre::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight);
  border-radius: 9999px;
  transition: all 0.2s ease-in-out;
}
.action pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-highlight-hover);
}

@media screen and (width > 768px) {
  .panel__content {
    grid-template-columns: calc(50% - calc(var(--base-gap) / 2)) calc(50% - calc(var(--base-gap) / 2));
  }
}