:root {
  --base-gap: 1rem;
  --color-surface: #171717;
  --color-text: #fafafa;
  --color-text-opaque: #bcbcbc;
  --color-card: #202020;
  --color-card-block: #242424;
  --color-card-block-hover: #303030;
  --color-highlight: #2ee935;
  --color-highlight-hover: #0daa12;
  --shadow-section: 0 0 4px #000000;
  --shadow-action: 0 0 2px #000000;
  --transitions-color: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight);
  border-radius: 9999px;
  transition: var(--transitions-color);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-highlight-hover);
}
*::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--color-card);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-surface);
  color: var(--color-text);
  font-size: 0.875rem;
}



.panel code {
  max-height: 300px;
  overflow: auto;
  background-color: var(--color-card-block) !important;
  padding: var(--base-gap);
}

.panel {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1440px;
  margin: 0 auto;
  padding: calc(var(--base-gap) / 2);
}

.panel__header {
  width: 100%;
}

.panel__header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.panel__content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--base-gap) / 2);
}

.section {
  padding: var(--base-gap);
  background-color: var(--color-card);
  height: 100%;
  border-radius: 0.325rem;
  box-shadow: var(--shadow-section);
}

.section h3 {
  height: 2.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--base-gap) / 2);
}

.section.actions {
  max-height: calc(100svh - 1rem);
  overflow-y: auto;
}

#actionsList {
  list-style-type: none;
}

#actionsList li + li {
  margin-top: var(--base-gap);
}

.action {
  background: var(--color-card-block);
  box-shadow: var(--shadow-action);
  border-radius: 9999px;
  overflow: hidden;
}

.action:has(summary.active) {
  border: 1px solid var(--color-highlight);
}

.action[open] {
  border-radius: 0.325rem;
}

.action summary {
  cursor: pointer;
  color: var(--color-highlight);
  padding: calc(var(--base-gap) / 2) var(--base-gap);
  transition: var(--transitions-color);
}

.action summary:hover {
  background-color: var(--color-card-block-hover);
}

.action strong {
  color: var(--color-text-opaque);
  display: inline-block;
  padding: calc(var(--base-gap) / 2) var(--base-gap);
}

.section.state {
  display: flex;
  flex-direction: column;
}

.section.state pre {
  height: 100%;
}

.section.state pre code {
  min-height: 100%;
}

.tabs {
  flex-shrink: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: calc(var(--base-gap) / 2);
  margin-bottom: calc(var(--base-gap) / 2);
}

.tab-btn {
  height: fit-content;
  padding: 0.375rem 0.75rem;
  border-radius: 0.325rem;
  background-color: var(--color-surface);
  color: var(--color-text);
  cursor: pointer;
  transition: var(--transitions-color);
  border-color: transparent;
}

.tab-btn.active {
  background-color: var(--color-highlight);
  color: var(--color-surface);
  font-weight: bold;
}

.tab-btn:not(.active):hover {
  background-color: var(--color-card-block-hover);
}

@media screen and (width > 768px) {
  .panel__content {
    grid-template-columns: calc(50% - calc(var(--base-gap) / 4)) calc(
        50% - calc(var(--base-gap) / 4)
      );
  }
}
